#bg404 {
        background: url(https://i.imgur.com/RxHTxOD.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#bg401 {
        background: url(https://i.imgur.com/yceDZ1x.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}