<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>StoryTree - Where Learning Takes Root</display-name>
  <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>
  <servlet>
    <description></description>
    <display-name>FileUploadController</display-name>
    <servlet-name>FileUploadController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.FileUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadController</servlet-name>
    <url-pattern>/FileUploadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameRaterController</display-name>
    <servlet-name>GameRaterController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.GameRaterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameRaterController</servlet-name>
    <url-pattern>/GameRaterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameFileDownloaderController</display-name>
    <servlet-name>GameFileDownloaderController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.GameFileDownloaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameFileDownloaderController</servlet-name>
    <url-pattern>/GameFileDownloaderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AdminLoginController</description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserController</display-name>
    <servlet-name>RegisterUserController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.RegisterUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserController</servlet-name>
    <url-pattern>/RegisterUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameLoaderController</display-name>
    <servlet-name>GameLoaderController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.GameLoaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameLoaderController</servlet-name>
    <url-pattern>/GameLoaderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameplayController</display-name>
    <servlet-name>GameplayController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.GameplayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameplayController</servlet-name>
    <url-pattern>/GameplayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilesystemController</display-name>
    <servlet-name>FilesystemController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.FilesystemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilesystemController</servlet-name>
    <url-pattern>/FilesystemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivationController</display-name>
    <servlet-name>ActivationController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.ActivationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivationController</servlet-name>
    <url-pattern>/ActivationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordRecoveryController</display-name>
    <servlet-name>PasswordRecoveryController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.PasswordRecoveryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordRecoveryController</servlet-name>
    <url-pattern>/PasswordRecoveryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordResetController</display-name>
    <servlet-name>PasswordResetController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.PasswordResetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordResetController</servlet-name>
    <url-pattern>/PasswordResetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailRecoveryController</display-name>
    <servlet-name>EmailRecoveryController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.EmailRecoveryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailRecoveryController</servlet-name>
    <url-pattern>/EmailRecoveryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordResetRouterController</display-name>
    <servlet-name>PasswordResetRouterController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.PasswordResetRouterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordResetRouterController</servlet-name>
    <url-pattern>/PasswordResetRouterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectGameplayController</display-name>
    <servlet-name>DirectGameplayController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.DirectGameplayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectGameplayController</servlet-name>
    <url-pattern>/DirectGameplayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuspendUserController</display-name>
    <servlet-name>SuspendUserController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.SuspendUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuspendUserController</servlet-name>
    <url-pattern>/SuspendUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecureGuestController</display-name>
    <servlet-name>SecureGuestController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.SecureGuestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecureGuestController</servlet-name>
    <url-pattern>/SecureGuestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRemoveUserController</display-name>
    <servlet-name>AdminRemoveUserController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.AdminRemoveUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRemoveUserController</servlet-name>
    <url-pattern>/AdminRemoveUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteGamesByAuthorController</display-name>
    <servlet-name>AdminDeleteGamesByAuthorController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.AdminDeleteGamesByAuthorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteGamesByAuthorController</servlet-name>
    <url-pattern>/AdminDeleteGamesByAuthorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteGameController</display-name>
    <servlet-name>AdminDeleteGameController</servlet-name>
    <servlet-class>papacapstone.SystemControllers.AdminDeleteGameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteGameController</servlet-name>
    <url-pattern>/AdminDeleteGameController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AboutUs</servlet-name>
    <jsp-file>/WEB-INF/Main/AboutUs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUs</servlet-name>
    <url-pattern>/AboutUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GameLibrary</servlet-name>
    <jsp-file>/WEB-INF/Main/GameLibrary.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameLibrary</servlet-name>
    <url-pattern>/GameLibrary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/WEB-INF/Main/Home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlayGame</servlet-name>
    <jsp-file>/WEB-INF/Main/PlayGame.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayGame</servlet-name>
    <url-pattern>/PlayGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlayGameLoadPage</servlet-name>
    <jsp-file>/WEB-INF/Main/PlayGameLoadPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayGameLoadPage</servlet-name>
    <url-pattern>/PlayGameLoadPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectAGame</servlet-name>
    <jsp-file>/WEB-INF/Main/SelectAGame.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAGame</servlet-name>
    <url-pattern>/SelectAGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tutorials</servlet-name>
    <jsp-file>/WEB-INF/Main/Tutorials.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tutorials</servlet-name>
    <url-pattern>/Tutorials</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadGame</servlet-name>
    <jsp-file>/WEB-INF/Main/UploadGame.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadGame</servlet-name>
    <url-pattern>/UploadGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPanel</servlet-name>
    <jsp-file>/WEB-INF/Main/UserPanel.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPanel</servlet-name>
    <url-pattern>/UserPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <jsp-file>/WEB-INF/Main/UserLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeaderBase</servlet-name>
    <jsp-file>/WEB-INF/Main/HeaderBase.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderBase</servlet-name>
    <url-pattern>/HeaderBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecoveryPage</servlet-name>
    <jsp-file>/WEB-INF/Recovery/RecoveryPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoveryPage</servlet-name>
    <url-pattern>/RecoveryPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <jsp-file>/WEB-INF/Recovery/ResetPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailSent</servlet-name>
    <jsp-file>/WEB-INF/Registration/EmailSent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSent</servlet-name>
    <url-pattern>/EmailSent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivateAccount</servlet-name>
    <jsp-file>/WEB-INF/Registration/ActivateAccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateAccount</servlet-name>
    <url-pattern>/ActivateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <jsp-file>/WEB-INF/Registration/Register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuccessfulRegistration</servlet-name>
    <jsp-file>/WEB-INF/Registration/SuccessfulRegistration.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessfulRegistration</servlet-name>
    <url-pattern>/SuccessfulRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <jsp-file>/WEB-INF/Admin/AdminLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminHome</servlet-name>
    <jsp-file>/WEB-INF/Admin/AdminHome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminHeader</servlet-name>
    <jsp-file>/WEB-INF/Admin/AdminHeader.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHeader</servlet-name>
    <url-pattern>/AdminHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_DeleteGame</servlet-name>
    <jsp-file>/WEB-INF/Admin/Admin_DeleteGame.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_DeleteGame</servlet-name>
    <url-pattern>/Admin_DeleteGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_RemoveUser</servlet-name>
    <jsp-file>/WEB-INF/Admin/Admin_RemoveUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_RemoveUser</servlet-name>
    <url-pattern>/Admin_RemoveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DuplicateUpload</servlet-name>
    <jsp-file>/WEB-INF/Error/DuplicateUpload.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuplicateUpload</servlet-name>
    <url-pattern>/DuplicateUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserListedGames</servlet-name>
    <jsp-file>/WEB-INF/Main/UserListedGames.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListedGames</servlet-name>
    <url-pattern>/UserListedGames</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DirectGameplay</servlet-name>
    <jsp-file>/WEB-INF/Main/DirectGameplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectGameplay</servlet-name>
    <url-pattern>/DirectGameplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Splash</servlet-name>
    <jsp-file>/WEB-INF/General/Splash.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Splash</servlet-name>
    <url-pattern>/Splash</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>404</servlet-name>
    <jsp-file>/WEB-INF/Error/404.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>404</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NhiaEditor</servlet-name>
    <jsp-file>/WEB-INF/Main/NhiasEditor.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NhiaEditor</servlet-name>
    <url-pattern>/NhiaEditor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewHeader</servlet-name>
    <jsp-file>/WEB-INF/Main/NewHeader.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewHeader</servlet-name>
    <url-pattern>/NewHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>401</servlet-name>
    <jsp-file>/WEB-INF/Error/401.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>401</servlet-name>
    <url-pattern>/401</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelperTable</servlet-name>
    <jsp-file>/WEB-INF/Main/HelperTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelperTable</servlet-name>
    <url-pattern>/HelperTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WhatAreScenes</servlet-name>
    <jsp-file>/WEB-INF/Main/WhatAreScenes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhatAreScenes</servlet-name>
    <url-pattern>/WhatAreScenes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WhatAreXMLTags</servlet-name>
    <jsp-file>/WEB-INF/Main/WhatAreXMLTags.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhatAreXMLTags</servlet-name>
    <url-pattern>/WhatAreXMLTags</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DifferentTypesOfTags</servlet-name>
    <jsp-file>/WEB-INF/Main/DifferentTypesOfTags.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DifferentTypesOfTags</servlet-name>
    <url-pattern>/DifferentTypesOfTags</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Footer</servlet-name>
    <jsp-file>/WEB-INF/Main/Footer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Footer</servlet-name>
    <url-pattern>/Footer</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>dbPass</param-name>
    <param-value>admin</param-value>
  </context-param>
</web-app>